<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="|/student/updateStudent?id=${student.id}|" method="post">
    名字:<input type="text" name="name" th:value="${student.name}"/>
    <br/>
    年龄:<input type="number" name="age" th:value="${student.age}"/>
    <br/>
    班级:<select name="classId">
        <div th:each="clazz : ${clazzList}">
        <option th:selected="${student.classId==clazz.id}" th:value="${clazz.id}" th:text="${clazz.name}"></option>
        </div>
    </select>
    <br/>
    <input type="submit" value="提交"/>
</form>
</body>
</html>